<!DOCTYPE html>
<html lang="fi" hidden class="h-full">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {{- (metaTitle or title)|trim|safe -}}
      {{- (' &ndash; Koodikrapula'|safe) if page.url !== '/' -}}
    </title>
    {% if metaDescription or description %}
      <meta
        name="description"
        content="{{ (metaDescription or description)|trim|replace('\n', ' ') }}"
      />
    {% endif %}
    <script
      async
      src="https://cdn.skypack.dev/twind/shim"
      type="module"
    ></script>
  </head>

  <body class="h-full">
    <div class="flex flex-col min-h-full px-6">
      <header>
        <nav class="max-w-2xl mx-auto">
          <a
            href="/"
            class="inline-block font(mono) my-4 -mx-1 px-1 py-px rounded text(2xl red-600) hover:(bg-gray-100 text-red-500) active:text-red-700"
          >
            Koodikrapula.fi
          </a>
          <ul class="mb-6 space-x-6">
            <li class="inline">
              <a
                href="#"
                class="p-1 -mx-1 rounded hover:(bg-gray-100 text-red-500) active:text-red-700"
              >
                Info
              </a>
            </li>
            <li class="inline">
              <a
                href="#"
                class="p-1 -mx-1 rounded hover:(bg-gray-100 text-red-500) active:text-red-700"
              >
                Kysy kysymys!
              </a>
            </li>
          </ul>
        </nav>
      </header>

      <main>{% block content %}{% endblock %}</main>

      <footer class="mt-auto py-8 text-gray-500">
        <div class="border-t-2 max-w-2xl mx-auto pt-8">
          &copy; Koodikrapula 2021
        </div>
      </footer>
    </div>
  </body>
</html>
